In [3]:
import numpy as np
from numpy import convolve
def movingavg(val,window):
    weight=np.repeat(1.0,window)/window
    sma=np.convolve(val,weight,'valid')
    return sma
val=[3,5,7,2,8,10,11,65,72,81,99,100,150]
M_avg_output=movingavg(val,3)
M_avg_output

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

In [40]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] 
# indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [5]:
import pandas as pd
date_time=pd.date_range(start='2015-01-01',end='2015-12-31',freq='B')
date_time

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [8]:
s=pd.Series(np.random.rand(len(date_time)),index=date_time)
s.head()

2015-01-01    0.943749
2015-01-02    0.462966
2015-01-05    0.847944
2015-01-06    0.238315
2015-01-07    0.803362
Freq: B, dtype: float64

In [33]:
s[date_time.weekday==2].sum()

26.442532322841686

In [18]:
s.resample('M').mean()

2015-01-31    0.470072
2015-02-28    0.568010
2015-03-31    0.528505
2015-04-30    0.628652
2015-05-31    0.485565
2015-06-30    0.483979
2015-07-31    0.496936
2015-08-31    0.478567
2015-09-30    0.593828
2015-10-31    0.448788
2015-11-30    0.621111
2015-12-31    0.555824
Freq: M, dtype: float64

In [19]:
pd.Grouper(freq='4M')

TimeGrouper(freq=<4 * MonthEnds>, axis=0, sort=True, closed='right', label='right', how='mean', convention='e', base=0)

In [21]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-01
2015-05-31   2015-04-13
2015-09-30   2015-09-21
2016-01-31   2015-10-07
dtype: datetime64[ns]